.link{
    background-color: yellow;
}
#link1{
    background-color: yellow;
}
#link2{
    background-color: yellow;
}
.link3{
    color: red;
}
.link4{
    color: tomato;
}

.ul{
    letter-spacing: 3px;
}

.link5{
    color: blue;
}
.link6{
    color: chocolate;
}